# U.S. Medical Insurance Costs

In [1]:
# import pandas
import pandas as pd

In [2]:
df_medical_costs = pd.read_csv('insurance.csv')
df_medical_costs

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
# showing columns
df_medical_costs.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

# Make variables for all columns

In [5]:
ages = df_medical_costs['age']
sexes = df_medical_costs['sex']
bmis = df_medical_costs['bmi']
num_children = df_medical_costs['children']
smoker_statuses = df_medical_costs['smoker']
regions = df_medical_costs['region']
insurance_charges = df_medical_costs['charges']

# Patient's Information

## Average Patient Age

In [14]:
# find the average age of patients
average_age = round(df_medical_costs['age'].mean())
print(f'Average Patient Age: {average_age} years old')

Average Patient Age: 39 years old

## Number of Males vs Females

In [35]:
# finding percentage of male and female patients
males_and_females = df_medical_costs['sex'].value_counts('male')
males_and_females = males_and_females.round(2)

#finding number of individual males and females
males = df_medical_costs['sex'].value_counts()[0]
females = df_medical_costs['sex'].value_counts()[1]
print(f'Male Patients: {males}\nFemale Patients: {females}')

Male Patients: 676
Female Patients: 662

## Geographical Locations

In [108]:
# finding out how many unique regions there are and how many patients are from each
regions = df_medical_costs['region'].value_counts()

southeast_region = regions[0]
northwest_region = regions[1]
southwest_region = regions[2]
northeast_region = regions[3]

print(f'{regions}\n')

# print out how many patients in each region
print(f'Southeast: {southeast_region} patients')
print(f'Northwest: {northwest_region} patients')
print(f'Southwest: {southwest_region} patients')
print(f'Northeast: {northeast_region} patients')

southeast    364
northwest    325
southwest    325
northeast    324
Name: region, dtype: int64

Southeast: 364 patients
Northwest: 325 patients
Southwest: 325 patients
Northeast: 324 patients

## Average Yearly Insurance Charges

In [104]:
# calculate the average yearly charges between all patients
average_yearly_charges = round(df_medical_costs['charges'].mean(), 2)
print(f'Average Yearly Medical Insurance Charges: {average_yearly_charges} dollars')

Average Yearly Medical Insurance Charges: 13270.42 dollars